<button onclick="getData()">Start</button>
<div>
    <button onclick="showAll()">Show All</button>
    <button onclick="showFail()">Show Failures</button>
    <button onclick="showRisk()">Show Risk 1</button>
</div>
<div id="inspections"></div>